{% extends 'djangoapp/base.html' %}

{% load static %}

{% block content %}
    <!--Add review form here -->
<div class="mt-4">
    <form action="{% url 'djangoapp:add_review' dealer_id %}" method="POST">
      {% csrf_token %}
      <h1>Add a review about Holdlamis Car Dealership</h1>
      <div class="form-group">
        <label for="review">Enter the review content:</label>
        <textarea
          name="content"
          id="content"
          cols="30"
          rows="2"
          class="form-control"
          required
        ></textarea>
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          name="purchasecheck"
          id="purchasecheck"
        />
        <label class="form-check-label" for="purchasecheck"
          >Has purchased the car from Holdlamis Car Dealership ?</label
        >
        <small class="form-text text-muted"
          >(select purchased car information below if checked)</small
        >
      </div>
      <div class="form-group">
        <label for="car">Select your car (model-make-year):</label>
        <select name="car" id="car" class="form-select" required>
          {% for car in cars %}
          <option selected value="{{car.id}}">
            {{car.carmake.name}}-{{car.name}}-{{car.year|date:"Y"}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="purchasedate">Select Your Purchase Date:</label>
        <input
          name="purchasedate"
          type="text"
          class="date-own form-control"
          type="text"
          id="purchasedate"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  <script type="text/javascript">
    $(".date-own").datepicker({
      format: "mm/dd/yyyy",
    });
  </script>
</div>
{% endblock %}