{% extends 'djangoapp/base.html' %}

{% load static %}

{% block content %}
<div class="mt-4">
    <h1>
        Contact Us
    </h1>

    <div class="row">
        <!-- Section Titile -->
        <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content.</p>

          <div class="find-widget">
           Company:  <a href="#">Alphabet Inc.</a>
          </div>
          <div class="find-widget">
           Address: <a href="#">1600 Amphitheater Parkway Mountain View, CA 94043 USA</a>
          </div>
          <div class="find-widget">
            Phone:  <a href="#">+ 879-890-9767</a>
          </div>
          
          <div class="find-widget">
            Website:  <a href="https://www.google.com">www.google.com</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}
