{% extends 'djangoapp/base.html' %}

{% load static %}

{% block content %}
<div class="mt-4">
    <h1>Dealerships</h1>
    <br>
    <table class="table" id="table" data-filter-control="true">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Dealership Name</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">ZIP Code</th>
            <th scope="col" data-field="state" data-filter-control="select">State</th>
          </tr>
        </thead>
        <tbody>
        {% for dealer in dealerships %}
          <tr>
            <th scope="row">{{dealer.id}}</th>
            <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
            <td>{{dealer.city}}</td>
            <td>{{dealer.address}}</td>
            <td>{{dealer.zip}}</td>
            <td>{{dealer.state}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <script>
        $(function() {
          $('#table').bootstrapTable()
        })
      </script>
</div>
{% endblock %}